//  ======================================================================================================
//
//  Variables
//
//  ======================================================================================================

//  Colors
//  --------------------------------------------------

//  Grays: Lightest to Darkest
//  --------------------------------------------------
    $white:                   #fff     !default;
    $black:                   #000     !default;

//  Default Color Settings
//  --------------------------------------------------
    $primary-color:           $black   !default;
    $body-bg:                 $white   !default;
    $default-txt-color:       $black   !default;
    $placeholder-txt-color:   $black   !default;
    $highlight:               $black   !default;

//  Font Families
//  --------------------------------------------------

//  Font Stacks
//  --------------------------------------------------
    $font-family-default:     "Helvetica", Arial, sans-serif !default;
    $font-family-heading:     "Helvetica", Arial, sans-serif !default;
    $font-family-bold:        "Helvetica", Arial, sans-serif !default;
    $font-family-italic:      "Helvetica", Arial, sans-serif !default;

//  Type Sizes (use rem mixin to apply)
//  --------------------------------------------------
    $font-size-base:          16px  !default;
    $font-size-root:          62.5% !default;
    $font-size-a:             3.2   !default;
    $font-size-b:             2.4   !default;
    $font-size-c:             2.0   !default;
    $font-size-d:             1.8   !default;
    $font-size-e:             1.4   !default;
    $font-size-f:             1.2   !default;

//  Defaults
//  --------------------------------------------------
    $font-weight-default:     normal !default;
    $line-height-default:     1.6    !default;

//  Headings
//  --------------------------------------------------
    $headings-font-family:    $font-family-heading !default;
    $heading-font-weight:     normal               !default;
    $headings-line-height:    1.25                 !default;
    $headings-font-color:     inherit              !default;

//  Blockquotes
//  --------------------------------------------------
    $blockquote-font-family:  $font-family-default !default;
    $blockquote-txt-size:     $font-size-d         !default;
    $blockquote-txt-color:    $default-txt-color   !default;

//  Links
//  --------------------------------------------------
    $link-color:              $black                   !default;
    $link-hover-color:        darken($link-color, 15%) !default;

//  Forms
//  --------------------------------------------------
    $font-family-form:        $font-family-default !default;
    $font-family-label:       $font-family-default !default;

//  Responsive Breakpoints
//  --------------------------------------------------
    $break-xs:                320px  !default;
    $break-sm:                580px  !default;
    $break-md:                768px  !default;
    $break-lg:                1024px !default;
    $break-xl:                1240px !default;
    $break-xxl:               1400px !default;

//  Spacing Defaults
//  --------------------------------------------------
    $padding-default:         20px   !default;

//  Animation
//  --------------------------------------------------
    $pageTransition:          .78,.01,.26,.99 !default;
    $default-animation:       all 0.3s        !default;
